<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shahanas Hussain</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/aos.css">
    <link rel="stylesheet" href="./assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container flex-lg-column">
            <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                <span class="h3 fw-bold d-block d-lg-none">Muhammed Shahanas Hussain</span>
                <img src="./assets/images/MYPIC.jpg" class="d-none d-lg-block rounded-circle" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#reviews">Reviews</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">

        <!-- HOME -->
        <section id="home" class="full-height px-lg-5">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="display-4 fw-bold" data-aos="fade-up">I'M A <span class="text-brand">MERN STACK developer</span> FROM TRIVANDRUM</h1>
                        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">I am Muhammed Shahanas Hussain, And I craft
                            high-performing and delightful experiences tailored and conversion-focused</p>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                            <a href="tel:+919633892190" class="link-custom">Call: +91 96 33 89 21 90</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- //HOME -->

        <!-- SERVICES -->
        <section id="services" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">SERVICES</h6>
                        <h1>Services That I Provide</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-4" data-aos="fade-up">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-feather"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Web Design</h5>
                            <p>Web of websites. The different areas of web design include web graphic design; user interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.</p>
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-pencil-ruler"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Software Development</h5>
                            <p>Software development is the process of conceiving, specifying, designing, programming, documenting, testing, and bug fixing involved in creating and maintaining applications, frameworks, or other software components</p>
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-laptop-code"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Web Designing</h5>
                            <p>User Interface Design (also commonly referred to as UI Design) is where the visuals come into the process. Once the app has its UX structure, the elements are ready to be enhanced with brand colors, fonts, images, and other design elements.</p>
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-laptop-code"></i>
                            </div>
                            <h5 class="mt-4 mb-2">E-Commerce</h5>
                            <p>Our E- Commerce Platform and Sell Their Products through Online. It Helps to reduce the Shop Running Expenses and Manpower. Intergrated Payment Gateway Accept the Payments through Debit, Credit, Internet Banking and Multiple Wallets.</p>
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-laptop-code"></i>
                            </div>
                            <h5 class="mt-4 mb-2">GST Billing Software</h5>
                            <p>Our Inventory and Accounting Software is a new generation user-friendly software, which can be used and installed without any prior knowledge of accounting or software training. The new Release has been considerably enhanced</p>
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-laptop-code"></i>
                            </div>
                            <h5 class="mt-4 mb-2">RESTAURANT MANAGEMENT SOFTWARE</h5>
                            <p>Xenia POS Café is an online comprehensive restaurant management system designed and built especially for a better and streamlined execution of all operations of a restaurant. </p>
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- SERVICES -->

        <!-- WORK -->
        <section id="work" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">WORK</h6>
                        <h1>My Recent Projects</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-6 W-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="./assets/images/P1.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>RESTAURANT STATIC ORDER SOFTWARE</h4>
                                <p>A restaurant static order software is a computer program that allows restaurant staff to take and process customer orders electronically without the use of a dynamic or real-time ordering system.</p>
                                <a href="https://shahanas7210.github.io/Restaurant_static/" class="link-custom">VIEW WEBSITE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="./assets/images/p3.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>CRONE PAGE OF MEDIIUM</h4>
                                <p>Medium is an online publishing platform that allows users to write and share articles on various topics, as well as read content from other writers.</p>
                                <a href="https://shahanas7210.github.io/MediumClone/" class="link-custom">VISIT WEBSITE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="./assets/images/p2.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>CRONE WEBSITE OF NETFLIX</h4>
                                <p>Netflix is a subscription-based streaming service that offers a wide range of movies, TV shows, documentaries, and original content that can be watched on various devices, including smart TVs, laptops, tablets, and smartphones.</p>
                                <a href="https://shahanas7210.github.io/Netflix/" class="link-custom">VISIT WEBSITE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="./assets/images/P4.png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>XENIA Technologies</h4>
                                <p>Xenia Technology may refer to a company that specializes in developing and providing technology solutions and services.</p>
                                <a href="https://shahanas7210.github.io/xenia-cone/" class="link-custom">VISIT WEBSITE</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- //WORK -->

        <!-- ABOUT -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>My Education & Experiance</h1>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>SSLC</h4>
                                    <p class="text-brand mb-2">St Vincent School | 2016 - 2017</p>
                                    <!-- <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p> -->
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>PLUS ONE-PLUS TWO</h4>
                                    <p class="text-brand mb-2">Pallithura Higher Secondary School</p>
                                    <!-- <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p> -->
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>B COM CA</h4>
                                    <p class="text-brand mb-2">MGM COLLEGE OF SCIENCE & ARTS | 2020 - 2023</p>
                                    <!-- <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p> -->
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Full Stack Development</h4>
                                    <p class="text-brand mb-2">BROTOTYPE | 2022 - 2023</p>
                                    <p class="mb-0">Currently Studying</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Sales Manager</h4>
                                    <p class="text-brand mb-2">Xenia Technologies | Excellent</p>
                                    <p class="mb-0">2 Years Of Experience</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Hm2 Global</h4>
                                    <p class="text-brand mb-2">Own Company | Great</p>
                                    <p class="mb-0">Providing GST Billing Software , Billing Thermal Printers , Barcode printers , Barcode Scanners Etc</p>
                                </div>
                            </div>

                            

                        </div>

                    </div>

                </div>

            </div>
        </section>
      <!-- End About -->
        <!-- BLOG -->
        <section id="blog" class="full-height px-lg-5">
            <div class="container">
                <div class="position-relative d-flex align-items-center justify-content-center">
                    <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
                    <!-- <h1 class="position-absolute text-uppercase text-primary">My Skills</h1> -->
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">HTML</h6>
                                <h6 class="font-weight-bold">95%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">CSS</h6>
                                <h6 class="font-weight-bold">96%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Kodular</h6>
                                <h6 class="font-weight-bold">85%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Javascript</h6>
                                <h6 class="font-weight-bold">75%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">SQL Server</h6>
                                <h6 class="font-weight-bold">85%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">C#</h6>
                                <h6 class="font-weight-bold">85%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                

            </div>
        </section>
       
        <!-- //BLOG -->

        <!-- CONTACT -->
        <section id="contact" class="full-height px-lg-5">
            <div class="container">

                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 pb-4" data-aos="fade-up">
                        <h6 class="text-brand">CONTACT</h6>
                        <h1>Interested in working together? Let's talk
                        </h1>
                    </div>

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                        <form id="submit-form"  class="row g-lg-3 gy-3">
                            <div class="form-group col-md-6">
                                <input id="txt_name" type="text" name="NAME"  class="form-control" placeholder="Enter your name"  required>
                            </div>
                            <div class="form-group col-md-6">
                                <input id=txt_email type="email" name="EMAIL" class="form-control" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group col-12">
                                <input id="txt_subject" type="text" name="SUBJECT" class="form-control" placeholder="Enter subject" required>
                            </div>
                            <div class="form-group col-12">
                                <textarea id="txt_message" name="MESSAGE" value="hai hello how are you" rows="4" class="form-control" placeholder="Enter your message" required ></textarea>
                            </div>
                            <div class="form-group">
                                <button onclick="gmail()"class="btn btn-brand">Contact me in mail</button>
                                <!-- <button onclick="whatsapp()" class="btn btn-success">Contact me in Whatsapp</button> -->
                                <button  class="btn btn-success" onclick="whatsapp()">Contact me in Whatsapp</button> 
                            </div>
                            
                        </form>
                    </div>
                </div>


            </div>
        </section>
        <!-- //CONTACT -->

        <!-- FOOTER -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-center">
                    <div class="col-auto">
                        <p class="mb-0">Designed by <a href="#" class="fw-bold">MUHAMMED SHAHANAS HUSSAIN</a></p>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row gy-4 justify-content-center">
                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="https://twitter.com/Shahanas7210" target="_blank" ><i class="lab la-twitter"></i></a>
                            <a href="https://www.instagram.com/_shahanas_shanu._/" target="_blank"><i class="lab la-instagram"></i></a>
                            <a href="https://www.facebook.com/Shahanas7210" target="_blank"><i class="lab la-facebook"></i></a>
                            <a href="https://github.com/Shahanas7210" target="_blank"><i class="lab la-github"></i></a>
                            <!-- <a href="#"><i class="lab la-whatsApp"></i></a> -->
                        </div>
                    </div>
                    
                </div>
            </div>





            
        </footer>
        <!-- //FOOTER -->

    </div>
    <!-- //CONTENT WRAPPER -->
     <!-- <script src="./validation.js"></script> -->
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/aos.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./validation.js"></script>
   
</body>

</html>


